:root{
  --color-primary: #333;
}

.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);

  & h2 {
    color: #fcfbfb;
  }

}